p {
  font-family: Lato;
}
.login_container{
  margin:0px auto;

 
}
#submit{
  background: #1d1c24;
  color:#fff;
  font-size: 20px;
  border:none;
  box-shadow: none;

}
h2 .login{
  text-align: center;
}
p.titles{
  text-align: center;
  margin-bottom: 40px;
    width:80%;  
}
.links{
  float: right;
  list-style:list;
  padding: 0px 2px 4px 1px;
  list-style-type: none;
  display:block;
  width:100%;
    
}
.links li{
  float:left;
   padding: 0px 4px 4px 4px;
}