  <div class="container min_height">
<header>
  <h4 style="margin: 0;display: inline-block;vertical-align: sub;margin-left: 5px"> {{name}}
  </h4> 
</header>
 <div class="col-md-8 offset-md-3 pull-left">
  <ul class="nav nav-pills" style="margin-bottom: 20px;">
    <li  *ngIf="authserviceService.check_user_loggedin()"  role="presentation" routerLinkActive="active">
      <a href="#"  routerLink="/dashboard">Dashboard</a></li>
    <li *ngIf="!authserviceService.check_user_loggedin()" role="presentation" routerLinkActive="active">
      <a href="#"  routerLink="/login">Login</a></li>
    <li *ngIf="!authserviceService.check_user_loggedin()" role="presentation" routerLinkActive="active">
      <a href="#"  routerLink="/registration">Registration</a></li>
       <li  *ngIf="authserviceService.check_user_loggedin()"  role="presentation" routerLinkActive="active">
      <a href="#"  routerLink="/feeds">Feeds</a></li>
       <li  *ngIf="authserviceService.check_user_loggedin()"  role="presentation" routerLinkActive="active">
      <a href="#"  routerLink="/viewprofile">View Profile</a></li>
       <li *ngIf="authserviceService.check_user_loggedin()" role="presentation" routerLinkActive="active">
      <a href="#" (click)="authserviceService.mainLogoutfunc()">Logout</a></li>
  </ul></div> <div class="col-md-4 offset-md-3">
  <div *ngIf="authserviceService.check_user_loggedin()" class="p-t-20 pull-right">You are loggedin!  <b>Welcome  {{authserviceService.getLoggedinUserName()}}</b>
    </div> 
  </div> 
   
  
<div class="col-md-12 offset-md-3">
  <router-outlet></router-outlet> 
 </div>
</div>
<div class="container">
 <footer>
  <h4 style="margin: 0;display: inline-block;vertical-align: sub;margin-left: 5px"> {{copyright}}
  </h4>
</footer>
</div>

<div>

</div>



