/* Add application styles & imports to this file! */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
.invalid-feedback {
    color: red;
}
.mt-0 {
  margin-top: 0 !important;
}
.feed_heading a{
  text-decoration: none;
}
.btn-read_more{
  background: #1976D2;
padding: 7px;
color: #ffffff;
text-align: center;
text-decoration: none;
}
.btn-read_more:hover{
    background: #1976D2;
padding: 7px;
color: #ffffff;
text-align: center;
text-decoration: none;
}